<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap" rel="stylesheet">
  <title>教室預約系統</title>
</head>
<body>

    {% if form.errors %}
    <div class="alert alert-danger">
      {{ form.errors }}
    </div>
    {% endif %}
    <div class="login-form">
      <h1>登入</h1>
      <form action="" method="POST">
        {% csrf_token %}
        <div id="login-form" class="form-inline">
          <div class="txt">
            <input type="text" name="username" autofocus>
            <label>帳號</label>
          </div>
          <div class="txt">
            <input type="password" name="password">
            <label>密碼</label>
          </div>
          <div class="login-button">
            <input type="submit" class="btn btn-primary" value="登入">
          </div>
        </div>
      </form>
    </div>

</body>
</html>