{% extends "base.html" %}

{% block content %}
{% if form.errors %}
<div class="alert alert-danger">
  {{ form.errors }}
</div>
{% endif %}
<form action="" method="POST">
  {% csrf_token %}
  <div id="login-form" class="form-inline">
    <input type="text" name="username" placeholder="請輸入您的帳號" autofocus>
    <input type="password" name="password" placeholder="請輸入您的密碼">
    <input type="submit" class="btn btn-primary" value="登入">
  </div>
</form>
{% endblock %}

{% block custom_scripts %}
<script>
add_css_class('#login-form input[placeholder]', 'form-control', 'mr-2');
add_css_class('#login-form .btn', 'mr-2');
</script>
{% endblock %}