.classes{
    margin:auto;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.classes .card{
    border-radius: 7px;
    height:100px;
    width:300px;
    margin:30px;
    padding:10px;
    background-color: rgb(209, 243, 251);
    font-size: 26px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition:0.5s;
    display: flex;
    justify-content: center;
}

.classes .card:hover{
    transform: translateY(-10px);
    background-color: rgba(105, 101, 101, 0.445);
    box-shadow: 7px 7px 7px 3px rgba(148, 137, 116, 1);
}

.classes .card a{
    text-decoration: none;      
    color: black;
}

.classes .card img{
    border-radius: 7px;
    position: absolute;
    right: 0px;
    height: 100%;
    width: auto;
}