/*room list*/

.room{
    margin:auto;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.room .card{
    border-radius: 7px;
    height:100px;
    width:300px;
    margin:30px;
    padding:10px;
    background-color: rgb(209, 243, 251);
    font-size: 26px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition:0.5s;
    display: flex;
    justify-content: center;
}

.room .card:hover{
    transform: translateY(-10px);
    background-color: rgba(105, 101, 101, 0.445);
    box-shadow: 7px 7px 7px 3px rgba(148, 137, 116, 1);
}

.room .card a{
    text-decoration: none;      
    color: black;
}

.room .card img{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    position: absolute;
    right: 0px;
    height: 100%;
    width: auto;
}

/*room detail*/


.room-container{
    margin-top:100px;
}

.room-mb-2{
    height:30px;
    margin:10px;
    padding:10px;
}

.room-mb-2 a{
    padding:12px;
    margin:5px;
    line-height:30px; 
    transition: 0.3s;
    text-decoration:none;
    background-color:rgb(6, 177, 244,0.7);
    border-radius:20px;
    color: rgb(32, 32, 32);
}

.room-mb-2 a:hover{
    background-color:rgb(6, 177, 244);
}

.card-header{
    font-size:26px;
    text-align: center;
    padding:10px;
    background-color:rgb(133, 198, 231);
    border-radius:20px;
    backdrop-filter:blur(3px);
    border-radius:20px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
}

.table h3{
    padding:5px;
    font-size:28px;
    text-align: center;
    margin:20px;
    color: rgb(103, 103, 103);
    border-bottom: 2px solid rgb(202, 202, 202);
}

.table .table-item{
    margin:20px;
    border-radius:20px;
    background-color: rgba(150, 220, 255, 0.7);
    justify-content:center;
    display:flex;
    backdrop-filter:blur(3px);
    border-radius:20px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
    display: flex;
    justify-content: center;
}

.table .table-item p{
    width:15%;
    padding: 5px;
}

.table .table-item a{
    color:rgb(172, 172, 172);
}


#room-detail {
    display: flex;
    flex-direction: column;
    background-color: rgba(209, 243, 251, 0.5);
    backdrop-filter:blur(3px);
    border-radius:20px;
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.52);
    -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.52);
}

#room-detail .pic{
    width:30%;
    display:flex;
}

#room-detail .pic img{
    margin:auto;
}

#room-detail .logs{
    padding:10px;
}
