/*room list*/

.room{
    margin:auto;
    margin-top: 150px;
    display: flex;
}

.room .card{
    height:100px;
    width:300px;
    margin:30px;
    padding:10px;
    background-color: rgb(236, 236, 236);
    font-size: 26px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition:0.5s;
}

.room .card:hover{
    transform: translateY(-10px);
    background-color: rgba(105, 101, 101, 0.445);
}

.room .card a{
    text-decoration: none;      
    color: black;
}

/*room detail*/

.card-header{
    text-align: center;
    padding:10px;
    background-color:rgb(187, 187, 187);
}

.table h3{
    text-align: center;
}

.table .table-item{
    margin:4px;
    border-radius:10px;
    background-color: rgb(124, 124, 124);
    justify-content:center;
    display:flex;
}

.table .table-item p{
    padding:5px;
}


#room-detail {
    display:flex;
}

#room-detail .pic{
    width:30%;
    border:3px solid black;
}

#room-detail .logs{
    padding:10px;
    width:70%;
    background-color: rgb(78, 78, 78);
}
