.teacher-container{
   margin-top: 0px;
}

.mb-1{
    padding:10px;
    margin-bottom:20px;
}

.mb-1 a{
    padding: 12px;
    margin: 5px;
    line-height: 30px;
    transition: 0.3s;
    text-decoration: none;
    background-color: rgb(236, 218, 182,0.7);
    border-radius: 20px;
    color: rgb(32, 32, 32);
    backdrop-filter:blur(3px);
}

.mb-1 a:hover{
    background-color: rgb(236, 218, 182);
}

.teacher-list{
    background-color: rgba(209, 243, 251, 0.5);
    backdrop-filter:blur(3px);
    border-radius:20px;
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.52);
    -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.52);
}


.teacher-list .table{
    border-radius: 3px;
    padding: 25px 30px;
    margin-bottom: 25px;
}

.teacher-list .table .table-header{
    background-color: aliceblue;
    border-radius:20px;
    font-size:20px;
    display: flex;
    justify-content:space-between;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
}

.teacher-list .table .table-header .item{
    width:120px;
    text-align:center;
    font-size:22px;
}


/* ---------- */

.teacher-list .table .table-row{
    margin:10px;
    display: flex;
    justify-content:space-between;
    background-color: rgb(209, 243, 251, 0.5);
    backdrop-filter:blur(3px);
    border-radius:20px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.52);
}

.teacher-list .table .table-row .item{
    width:120px;
    text-align:center;
}


.teacher-detail{
    display: flex;
    justify-content: space-around;

}

.teacher-detail .tea-card-header{
    width: 95%;
    text-align: center;
    padding: 2.5%;
    backdrop-filter:blur(3px);
    border-radius: 20px;
    background-color:rgb(133, 198, 231);

}

.teacher-detail .infor{
    width: 48%;
    display: flex;
    flex-direction: column;

}

.teacher-detail .infor .tea-class-area{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(162, 233, 249, 0.5);
    backdrop-filter:blur(3px);  
    border-radius: 20px;
}

.teacher-detail .infor .tea-job-area{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(162, 233, 249, 0.5);
    backdrop-filter:blur(3px);  
    border-radius: 20px;
    margin-bottom: 20px;
}

.teacher-detail .infor .tea-job-area .tea-job-table{
    width: 80%;
}

.teacher-detail .infor .tea-job-area tr{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;

}

.teacher-detail .tea-log-area{
    width: 48%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(162, 233, 249, 0.5);
    backdrop-filter:blur(3px);  
    border-radius: 20px;
}


.teacher-detail .tea-log-area .log{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
} 

.teacher-detail .loglist{
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.teacher-detail .loglist .name{
    width: 10%;
}

.teacher-detail .loglist .class{
    width: 10%;
}

.teacher-detail .loglist .time{
    width: 30%;
    display: flex;
    justify-content: center;
}

