{% extends "base.html" %}

{% block content %}
<div id="teacher-detail">
  <div class="teacher-detail">
    <div class="infor">
      <!--教師資訊 S-->
      <div class="tea-job-area">
        <div class="tea-card-header">
          {{ teacher.realname }}
        </div>
        <table class="tea-job-table">
          <tr>
            <th>連絡電話</th>
            <td>{{ teacher.tel }}</td>
          </tr>
          <tr>
            <th>卡號</th>
            <td>{{ teacher.cardid }}</td>
          </tr>
          <tr>
            <th>職稱</th>
            <td>{{ teacher.role }}</td>
          </tr>
        </table>
      </div>
      <!--教師資訊 E-->  
          <div class="tea-class-area">
              <div class="tea-card-header">
                <th>任教班級</th>
              </div>
              
            <table class="table table-sm">
              <tr>
                  {% for classes_list in tea_classes %}
                  <tr>
                  <td>
                    <a href="{% url 'classes_view' classes_list.id %}">
                    {{ classes_list }}</td>
                  </tr>
                  {% endfor %}
              </tr>
            </table>
          </div>
    </div>
          <!--借用紀錄 s-->
            <div class="tea-log-area">
              <div class="tea-card-header">
              <th>借用紀錄</th>
              </div>
                <div class="loglist">
                  <table>
                    <tr class="log">
                        {% for log in teacher.log_set.all %}
                          <tr class="log">
                            <td class="class">
                              <a href="{% url 'room_view' log.room.id %}">
                              {{ log.room.name }}
                              </a>
                            </td>
                            <td class="name">
                              {{ log.teacher.realname }}
                            </td>
                            <td class="time">{{ log.reserve|date:"Y/m/d H:i" }}</td>
                            <td class="time">{{ log.end|date:"Y/m/d H:i" }}</td>
                          </tr>
                        {% endfor %} 
                    </tr>
                  </table>
                </div>
            </div>
            <!--借用紀錄 e-->
  </div>
</div>
{% endblock %}