{% extends "base.html" %}

{% block content %}
<div id="teacher-detail">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          {{ teacher.realname }}
        </div>
        <table class="table table-sm">
          <tr>
            <th>連絡電話</th>
            <td>{{ teacher.tel }}</td>
          </tr>
          <tr>
            <th>卡號</th>
            <td>{{ teacher.cardid }}</td>
          </tr>
          <tr>
            <th>職稱</th>
            <td>{{ teacher.role }}</td>
          </tr>
        </table>
        
        <div class="card">
            <div class="card-header">
              <th>任教班級</th>
            </div>
            
          <table class="table table-sm">
            <tr>
                {% for classes_list in tea_classes %}
                <tr>
                <td>{{ classes_list }}</td>
                </tr>
                {% endfor %}
            </tr>
          </table>
        <div class="card">
            <div class="card-header">
            <th>借用紀錄</th>
            </div>
            <table class="table table-sm">
              <tr>
                  {% for log in teacher.log_set.all %}
                    <tr>
                      <td>{{ log.reserve|date:"Y/m/d H:i" }}</td>
                        <td>
                          <a href="{% url 'room_view' log.room.id %}">
                          {{ log.room.name }}
                          </a>
                        </td>
                        <td>
                          {{ log.teacher.realname }}
                        </td>
                      <td>{{ log.end|date:"Y/m/d H:i" }}</td>
                    </tr>
                  {% endfor %} 
              </tr>
            </table>
          </div>
      </div>
    </div>
    <div class="col-md-8">
    </div>
  </div>
</div>
{% endblock %}