{% extends "base.html" %}

{% block content %}
<div class="room-container">
  <div class="room-mb-2">
    <a href="{% url 'room_edit' room.id %}" class="btn btn-sm btn-primary">
      <i class="fas fa-edit"></i> 修改
    </a>
    <a href="{% url 'reverse_room' room.id %}" class="btn btn-sm btn-primary">
      <i class="fas fa-calendar-alt"></i> 新增預約
    </a>
    <a href="{% url 'room_delete' room.id %}" class="btn btn-sm btn-danger">
      <i class="fas fa-trash"></i> 刪除
    </a>
  </div>
  <div id="room-detail" class="row">
        <div class="card-header">{{ room.name }}</div>
        <div class="table">
          <h3>借用紀錄</h3>
          {% for log in logs %}
          <div class="table-item">
            <p>{{ log.reserve|date:"Y/m/d H:i" }}</p>
            <p>{{ log.room.name }}</p>
            <p><a href="{% url 'teacher_view' log.teacher.id %}">{{ log.teacher.realname }}</a></p>
            <p>{{ log.end|date:"Y/m/d H:i" }}</p>
            
              {% if log.workstatus == 2 %}
                <p><font color="green">已預約</font></p>
                {% elif log.workstatus == 1 %}
                <p><font color="red">進行中</font></p>
                {% elif log.workstatus == 0 %}
                <p><font color="blue">使用結束</font></p>
              {% endif %}
          </div>
          {% endfor %}
        </div>
  </div>
</div>


{% endblock %}