{% extends "base.html" %}

{% block content %}
<div class="mb-2">
  <a href="{% url 'room_edit' room.id %}" class="btn btn-sm btn-primary">
    <i class="fas fa-edit"></i> 修改
  </a>
  <a href="{% url 'room_delete' room.id %}" class="btn btn-sm btn-danger">
    <i class="fas fa-trash"></i> 刪除
  </a>
</div>
<div id="room-detail" class="row">

    <div class="">
       <div class="card-header">{{ room.name }}</div>
       <div class="card-header">{{ room.detail }}</div>
    </div>
</div>
{% endblock %}