{% extends "base.html" %}

{% block content %}
<div class="mb-1">
  <a href="{% url 'room_add' %}" class="btn btn-sm btn-primary">
    <i class="fas fa-plus"></i> 新增教室
  </a>
</div>

<div id="room-list" class="card-group">
  {% for room in room_list %}
    <div class="card shadow-sm">

        <div class="card-body">
        <div class="card-title">
            <a href="{% url 'room_view' room.id %}">{{ room.name }}</a>
        </div>
        <div class="card-text">{{ room.status }}</div>
        </div>
    </div>
  {% endfor %}
</div>

{% endblock %}