{% extends "base.html" %}

{% block content %}
<H1>
    網站開發人員
</H1>

<table class="table table-light">
    <thead>
      <tr>
        <th scope="col"><font size ="5">姓名</font></th>
        <th scope="col"><font size ="5">班級</font></th>
        <th scope="col"><font size ="5">座號</font></th>
        <th scope="col"><font size ="5">負責工作</font></th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">李孟澤</th>
        <td>305</td>
        <td>14</td>
        <td>動態網站建置</td>
    </tr>
    <tr>
        <th scope="row">杜立泓</th>
        <td>305</td>
        <td>19</td>
        <td>動態網站建置</td>
    </tr>
    <tr>
        <th scope="row">吳佩芸</th>
        <td>305</td>
        <td>06</td>
        <td>門禁系統硬體處理</td>
    </tr>
    <tr>
        <th scope="row">林鼎荃</th>
        <td>305</td>
        <td>16</td>
        <td>門禁系統硬體處理</td>
    </tr>
    <tr>
        <th scope="row">唐英瑞</th>
        <td>305</td>
        <td>12</td>
        <td>門禁系統硬體處理</td>
    </tr>
    </tbody>
  </table>


{% endblock %}