<!-- Navbar begin //-->
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-info mb-2">
    <!-- 網站標誌 -->
    <a class="navbar-brand" href="/"><i class="fas fa-home"></i> 教室借用系統</a>
    <!-- 在小螢幕的設備上顯示可展開/收合導覽選單的按鈕 -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 導覽列選單內容(可收合) -->
    <div class="collapse navbar-collapse" id="navbarNav">
          <div class="nav-item" onclick="location.href='{% url 'room_list' %}';">
            <a href="{% url 'room_list' %}" class="nav-link">
              <i class="fas fa-chalkboard"></i> 教室列表
            </a>
          </div>
        {% if user.is_authenticated %}
          <div class="nav-item" onclick="location.href='{% url 'teacher_list' %}';">
            <a href="{% url 'teacher_list' %}" class="nav-link">
              <i class="fas fa-chalkboard-teacher"></i> 教師列表
            </a>
          </div>
          
          <div class="nav-item" onclick="location.href='{% url 'student_list' %}';">
            <a href="{% url 'student_list' %}" class="nav-link">
              <i class="fas fa-user-graduate"></i> 學生列表
            </a>
          </div>


          <div class="nav-item" onclick="location.href='{% url 'classes_list' %}';">
            <a href="{% url 'classes_list' %}" class="nav-link">
              <i class="fas fa-address-book"></i> 班級列表
            </a>
          </div>


          <div class="nav-item" onclick="location.href='{% url 'logout' %}';">
            <a href="{% url 'logout' %}" class="nav-link">
              <i class="fas fa-sign-out-alt"></i> 登出 {{ user.username }}
            </a>
          </div>
         
        {% else %}
          <div class="nav-item" onclick="location.href='{% url 'login' %}';">
            <a href="{% url 'login' %}" class="nav-link">
              <i class="fas fa-sign-in-alt"></i>登入
            </a>
          </div>
        {% endif %}
    </div>
  </nav>
  <!-- Navbar end //-->