{% extends "base.html" %}

{% block content %}
<div class="mb-2">
  <a href="{% url 'classes_edit' classes.id %}" class="btn btn-sm btn-primary">
    <i class="fas fa-edit"></i> 修改
  </a>
  <a href="{% url 'classes_delete' classes.id %}" class="btn btn-sm btn-danger">
    <i class="fas fa-trash"></i> 刪除
  </a>
</div>
<div id="classes-detail" class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">{{ classes.name }}</div>
      <a href="{% url 'student_add' %}">新增學生</a>
      <table class="table">
        <tr>
          <th>班級學生</th>
          <tbody>
            {% for student in student_list %}
            <tr>
                <td><a href="{% url 'student_view' student.id %}">{{student.realname}}</a></td>
            </tr>
            {% endfor %} 
          </tbody>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock %}