{% extends "base.html" %}

{% block content %}
<style>
.collapse .nav-classes{
    background-color: rgb(170, 170, 170);
}
</style>

<div class="mb-1">
  <a href="{% url 'classes_add' %}" class="btn btn-sm btn-primary">
    <i class="fas fa-plus"></i> 新增班級
  </a>
</div>

<div id="classes-list" class="classes">

  {% for classes in classes_list %}
    <div class="card shadow-sm" onclick="location.href='{% url 'classes_view' classes.id %}';" style="cursor:pointer;">
        <div class="card-title" >
          <a href="{% url 'classes_view' classes.id %}">{{ classes.name }}</a>
        </div>

        <img src="https://imgur.dcard.tw/CRxTlNOh.jpg">
       
    </div>
  
  
    
  {% endfor %}
</div>
{% endblock %}