{% extends "base.html" %}

{% block content %}
<style>
a {
    text-decoration:none;
}
</style>
<style>
.collapse .nav-student{
    background-color: rgb(103, 196, 252);
}
</style>
<div class="student-container">
  <div class="mb-1">
    <a href="{% url 'student_add' %}" class="btn btn-sm btn-primary">
      <i class="fas fa-user-plus"></i> 新增學生
    </a>
  </div>
</div>
<div class="student-content">
 <div class="student-list">
    <ul class="table table">
      <li class="table-header">
        <div class="item">姓名</div>
        <div class="item">卡號</div>
        <div class="btn"></div>
        <div class="btn"></div>
      </li>
      {% for student in student_list %}
        <li class="table-row">
          <div class="item" ><a style="color:black;" href="{% url 'student_view' student.id %}">{{ student.realname }}</a></div>
          <div class="item" style="color:black;">{{ student.cardid }}</div>
          <div class="btn">
            <a href="{% url 'student_edit' student.id %}" class="btn btn-sm btn-primary">
            <i class="fas fa-edit"></i> 修改
            </a>
          </div>
          <div class="btn">
            <a href="{% url 'student_delete' student.id %}" class="btn btn-sm btn-danger">
            <i class="fas fa-trash"></i> 刪除
            </a>
          </div>
        </li>
            <!---<div class="card-body">
            <div class="card-title">
                <a href="{% url 'student_view' student.id %}">{{ student.realname }}</a>
            </div>
            <div class="card-text">{{ student.cardid }}</div>
            </div>-->
      {% endfor %}
    </ul>
  </div>
</div>

  
{% endblock %}