{% extends "base.html" %}

{% load user_tags %}

{% block content %}
<div class="card">
  <div id="user-list" class="card-body">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>帳號</th>
          <th>姓名</th>
          <th>班級座號</th>
          <th>教師</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for user in user_list %}
        <tr>
          <td>
            <a href="{% url 'user_view' user.id %}">{{ user.username }}</a>
          </td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          
          <td>{% if user|is_teacher %}<i class="fas fa-check"></i>{% endif %}</td>
          <td>
            <a href="{% url 'user_edit' user.id %}" class="btn btn-sm btn-primary">修改</a>
            <a href="{% url 'user_password' user.id %}" class="btn btn-sm btn-secondary">密碼</a>
            <a href="{% url 'user_teacher_toggle' user.id %}?next={{ request.path|urlencode }}" class="btn btn-sm btn-light">切換教師</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    {% include "pagination.html" %}
  </div>
</div>
{% endblock %}